// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#resources-table tr{
background: orange;
color: green;
}

#resources-table th{
	background: lightblue;
}

#resources-table tr:hover{
	background: red;
	color: white;
	a{
		color:white;
	}
	a:hover{
		color:black;
	}
	th{
		color:green;
	}
}
