// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background: #DCDCDC !important;
}
p{
	font-size: 1.2em;
	color: #800000;
	font-weight: bold;
}
h2,h3,h4,h1{
	color:#B2936C !important;
}
a{
	color:darkblue !important;
	font-size: 1.2em;
}